<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<html>

<body>

  <img src="/images/404-error.png">
  <h1>
    Page Not Found
  </h1>


</body>

</html>