<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>

<html>

<body>

  <img src="/images/error.png">
  <h1>
    We aplogize... An internal error has occured
  </h1>


</body>

</html>